.descriptionShort {
  letter-spacing: 1.46px;
  line-height: 31px;
}
.description {
  letter-spacing: 1.25px;
  text-align: justify;
  font-size: 14px;
}  

.check-status {
  font-size: 14px;
  letter-spacing: 1.46px;
  margin-bottom: 0;
}

.check-time {
  font-size: 21px;
  letter-spacing: 2.19px;
}